.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 40px 40px;
}

.container {
    background-color: rgb(255 255 255);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* @media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
} */

.img-container {
    padding: 50px;
    display: contents;
}

.btn {
    background-color: rgb(59 130 246);
    border: none;
    width: 200px;
    color: rgb(255 255 255);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    padding-left: 2rem
        /* 32px */
    ;
    padding-right: 2rem
        /* 32px */
    ;
    padding-top: 1rem
        /* 16px */
    ;
    padding-bottom: 1rem
        /* 16px */
    ;
    border-radius: 50px;
    box-shadow: 6px 6px 8px rgba(8, 8, 8, 0.3);
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
    background-image: linear-gradient(to left, #432db0, #6a4aa3);
}

.pic {
    border-radius: 0.5rem
        /* 8px */
    ;
    width: 50%;
}

.txt-area {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    padding: 5%;
}

.heading-2 {
    font-size: 1.875rem
        /* 30px */
    ;
    line-height: 2.25rem
        /* 36px */
    ;
    font-weight: 600;
    margin-bottom: 1rem
        /* 16px */
    ;
}

.para {
    margin-bottom: 1rem
        /* 16px */
    ;
}