.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    background-color: #219C90;
}

.txt {
    color: white;
}

.image {
    height: 5rem
        /* 48px */
    ;
    width: auto;
}

.my-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0 1rem;
    transition: all 0.3s;
    box-shadow: 6px 6px 8px rgba(8, 8, 8, 0.3);
}

.my-button:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
    background-image: linear-gradient(to left, #432db0, #6a4aa3);
}