.wrapper{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;    
}

.sec {
    padding-top: 3rem/* 48px */;
    padding-bottom: 3rem/* 48px */;
    background-color: rgb(243 244 246);
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.author {
    text-align: right;
    font-weight: 600;
}

.card {
    background-color: rgb(59 130 246);
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 0 0 #0000;
    width: 40%;
}

.caption{
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    margin-bottom: 1rem/* 16px */;
}

.prof {
    text-align: right;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}