.app {
    background-color: rgb(255, 255, 255, 0.9);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

input{
    border : 2px solid black ;
    font-size: 20px;
}

.ans {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.ans:hover:not([disabled]) {
    background: rgba(255, 255, 0, 0.6);
    /* color: #fff; */
}

.ans:disabled {
    cursor: no-drop;
}

#next-ques {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    /* display: none; */
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

.selected{
    background-color: #219c90;
}